/* Allgemeine Stile */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Weibliche Schriftart */
    background-color: #ffe6f0; /* Rosa Hintergrundfarbe */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff0f6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #ff94ac;
    margin-bottom: 20px;
}

p {
    color: #ff94ac;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    text-align: left;
}

.question label {
    display: block;
    margin-bottom: 5px;
    color: #ff94ac;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff94ac;
    border-radius: 5px;
    background-color: #fff0f6;
    color: #ff94ac;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    background-color: #ff94ac;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #fc4c4e;
}
