/* Globale Stile */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffe4e1; /* Sehr helles Rosa */
    margin: 0;
    padding: 0;
}

/* Benutzerdefinierte Stile für den Header und Drawer */
.custom-header, .custom-drawer {
    background-color: #ffb6c1 !important; /* Hellrosa */
}

/* Weitere benutzerdefinierte Stile */
.mdl-layout__header-row .mdl-layout-title,
.mdl-navigation__link {
    color: #ffffff !important; /* Weiß */
}

.page-content {
    padding: 20px;
}

.custom-button {
    background-color: #ffb6c1 !important; /* Hellrosa */
    color: #ffffff !important; /* Weiß */
}

.mdl-textfield {
    width: 100%;
    margin-bottom: 20px;
}

.mdl-data-table {
    width: 100%;
}

.button {
    background-color: #ffb6c1; /* Hellrosa */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Stile für das hochgeladene Bild */
#uploaded-image {
    max-width: 200px; /* Maximale Breite des Bildes */
    max-height: 200px; /* Maximale Höhe des Bildes */
    display: none; /* Standardmäßig ausblenden */
    margin-bottom: 10px; /* Abstand nach unten */
}

/* Stile für das Bildupload-Input-Feld und die Schaltfläche */
.container {
    text-align: center; /* Zentriert den Inhalt horizontal */
    margin-bottom: 20px; /* Abstand nach unten */
}

/* Stile für das Texteingabefeld */
.custom-textfield .mdl-textfield__label:after {
    background-color: #e91e63; /* Pink color für das schwebende Label */
}

.custom-textfield .mdl-textfield__input:focus ~ .mdl-textfield__label:after,
.custom-textfield .mdl-textfield__input:not(:focus):valid ~ .mdl-textfield__label:after {
    background-color: #e91e63; /* Pink color bei Fokus oder gültigem Zustand */
}

.custom-textfield .mdl-textfield__input:focus {
    border-bottom: 1px solid #e91e63; /* Pinker unterer Rand bei Fokus */
}

.custom-textfield.is-focused .mdl-textfield__label,
.custom-textfield.is-dirty .mdl-textfield__label {
    color: #e91e63; /* Pink color für das schwebende Label selbst */
}

.custom-textfield.is-focused .mdl-textfield__input {
    border-bottom-color: #e91e63; /* Pinker unterer Rand bei Fokus */
}

/* Stile für die Aktionsspalte in der Tabelle */
.mdl-data-table__cell--non-numeric button {
    background-color: #e91e63; /* Pink color für die Schaltfläche */
    color: #fff; /* Weißer Text */
    padding: 8px 16px; /* Innenabstand der Schaltfläche */
    border: none; /* Keine Rahmen */
    cursor: pointer; /* Zeigerzeiger */
    border-radius: 4px; /* Abrundung der Ecken */
}

.mdl-data-table__cell--non-numeric button:hover {
    background-color: #d81b60; /* Dunkleres Pink beim Hovern */
}
